{% extends 'base.html' %}
{% load static %}

{% block title %}MIB - Rendimento{% endblock %}

{% block content %}
    <h1>Registrar Rendimento</h1>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form method="post" class="form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}