{% extends 'base.html' %}

{% block extra_head %}{% endblock %}

{% block title %}Carteira{% endblock %}

{% block content %}

<h1>Carteira de Ativos</h1>

<div class="section">
    <h2 class="section-title">Ações</h2>
    <div class="table-responsive">
        <table class="table text-center">
            <tr>
                <th scope="col">Empresa</th>
                <th scope="col">Ticker</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço médio (R$)</th>
                <th scope="col">Valor investido (R$)</th>
            </tr>
            </thead>
            <tbody>
            {% for item in stocks %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ticker }}</td>
                    <td>{{ item.total_quantity }}</td>
                    <td>{{ item.average_price }}</td>
                    <td>{{ item.money_invested }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

<div class="section">
    <h2 class="section-title">Fundos Imobiliários</h2>
    <div class="table-responsive">
        <table class="table text-center">
            <tr>
                <th scope="col">Fundo</th>
                <th scope="col">Ticker</th>
                <th scope="col">Quantidade</th>
                <th scope="col">Preço médio (R$)</th>
                <th scope="col">Valor investido (R$)</th>
            </tr>
            </thead>
            <tbody>
            {% for item in fiis %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.ticker }}</td>
                    <td>{{ item.total_quantity }}</td>
                    <td>{{ item.average_price }}</td>
                    <td>{{ item.money_invested }}</td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}