{% extends 'base.html' %}

{% block title %}Ticker{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div id="forms_position" class="col-md-4">
            <h3 class="text-center">Atualizar ticker</h3>
            {% include 'base_modal_msg.html' %}     
            <form id= "ticker_form_update" method="post" class="form">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <div class="alert alert-danger">
                        {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
                <div class="form-group align-items-center">
                    <label for="id_name" class="col col-form-label">{{ form.name.label }}</label>
                    <div class="col">   
                        {{ form.name }}
                    </div>
                </div>

                <div class="form-group align-items-center">
                    <label for="id_cnpj" class="col col-form-label">{{ form.cnpj.label }}</label>
                    <div class="col">   
                        {{ form.cnpj }}
                    </div>
                </div>

                <div class="form-group align-items-center">
                    <label for="id_ticker" class="col col-form-label">{{ form.ticker.label }}</label>
                    <div class="col">   
                        {% if form.ticker.errors %}
                            <div class="text-danger">
                                {% for error in form.ticker.errors %}
                                    <p>{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        {{ form.ticker }}
                    </div>
                </div>

                <div class="form-group align-items-center">
                    <label for="id_asset_type" class="col col-form-label">{{ form.asset_type.label }}</label>
                    <div class="col">   
                        {{ form.asset_type }}
                    </div>
                </div>
                <div style="margin-top: 5px;" class="form-group">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}